<div class="bg w-[100vw] h-[100vh] fixed bg-no-repeat bg-cover z-[-99]" style="background-image: url('https://static.vecteezy.com/system/resources/previews/002/317/704/original/abstract-wavy-background-in-purple-color-free-vector.jpg');">

</div>
<div class="full w-full min-h-[100vh] md:flex md:justify-center md:items-center">
    <div class="box h-[100vh] md:h-auto grid grid-rows-[max-content] md:flex md:flex-col md:w-[35rem]">
      <div class="header pt-20 pb-4 px-4 text-[3rem] text-white md:text-center">
        เข้าสู่ระบบ
      </div>
      <div class="from bg-white/80 rounded-t-3xl pt-4 pb-8 px-6 mt-4 md:rounded-b-3xl md:pb-8 backdrop-blur-md">
        <div class="mt-8 space-y-6" action="#" method="POST">
          <input type="hidden" name="remember" value="true" />
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <label for="username" class="sr-only">ชื่อผู้ใช้</label>
              <input
                id="username"
                name="username"
                type="text"
                autocomplete="username"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Username"
                [(ngModel)]="username"
              />
            </div>
            <div>
              <label for="password" class="sr-only">รหัสผ่าน</label>
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Password"
                [(ngModel)]="password"
              />
            </div>
          </div>
    
          <div class="flex items-center justify-end">
            <div class="text-sm">
              <p>เป็นผู้ใช้ใหม่? <a href="/account/register" class="font-medium text-indigo-600 hover:text-indigo-500">
                สมัครสมาชิก
              </a></p>
            </div>
          </div>
          
          <div>
            <button
              class="group relative w-full flex justify-center py-2 mt-5 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              (click)="submit()"
              >
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg
                  class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
              เข้าสู่ระบบ
            </button>
          </div>
        </div>
    
      </div>
    </div>
  </div>